<ion-view title="{{item.name}}" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 0px; background-color: rgb(232, 235, 239); text-align: center;">
      <img ng-src="{{item.image}}" style="width:100%" />
      <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
    </div>
    <div id="itemDetails-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        {{item.desc}}
      </p>
    </div>
    <div id="itemDetails-markdown8" style="text-align:right;" class="show-list-numbers-and-dots">
      <p style="color:#8A9419;">
        <strong>Unit Price: ${{item.price}}</strong>
      </p>
    </div>
    <form id="itemDetails-form2" class="list">
      <label class="item item-input" id="itemDetails-input2">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="0" min="0" ng-model="data.quantity">
      </label>
    </form>
    <div id="itemDetails-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Subtotal: $ {{item.price * quantity}}</strong>
      </p>
    </div>
    <button ng-click="addCartItem()" id="itemDetails-button15" class="button button-positive button-block icon-right ion-ios-cart">Add to Cart</button>
    <div id="itemDetails-button-bar3" class="button-bar">
      <button id="itemDetails-button19" class="button button-royal button-block">Update</button>
      <button id="itemDetails-button20" class="button button-assertive button-block">Delete</button>
    </div>
  </ion-content>
</ion-view>